@model app_formulario_crud.Models.Funcionario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label>Nome</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            <label>CPF</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class="col-sm-2">
            <label>E-mail</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            <label>Telefone</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-2">
            <label>Habilitação</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Habilitacao)
        </dd>
        <dt class="col-sm-2">
            <label>Categoria</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class="col-sm-2">
            <label>Língua Estrangeira</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LinguaEstrangeira)
        </dd>
        <dt class="col-sm-2">
            <label>Estado</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            <label>Cidade</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class="col-sm-2">
            <label>CEP</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class="col-sm-2">
            <label>Logradouro</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt class="col-sm-2">
            <label>Número</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class="col-sm-2">
            <label>Complemento</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt class="col-sm-2">
            <label>Cargo</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt class="col-sm-2">
            <label>Salário Proposto</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalarioProposto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" type="submit" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" type="button" class="btn btn-info">Voltar</a>
</div>
