@model app_formulario_crud.Models.Horario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Horario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDaSemana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDaSemana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoDeDescanso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoDeDescanso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargaHoraria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargaHoraria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargaHorariaSemanal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargaHorariaSemanal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
